*{
    font-family: 'Montserrat', sans-serif;
    background-color: teal;
}
header.header-container {
    width: 100vw;
    height: 16.5vh;
    color: orangered;

}

header.header-container h1 {
    float: left;
    margin-top: 50px;
    color: whitesmoke;
}


header.header-container .navbar{
    display: flex;
    float: right;

}

header.header-container .navbar ul.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 1px;
    margin-top: 2rem;
    margin-right: 2rem;

}

header.header-container .navbar ul.navbar-container li {
    list-style: none;
    background-color: rgb(248, 240, 240);
    font-weight: 700;
    color: rgb(161, 236, 12);

}

header.header-container .navbar ul.navbar-container li a.nav-link {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

header.header-container div.search-bar {
    margin-right: 20px;
    padding: 0px;
    font-size: 20px;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
    float: inline-end;
    margin-top: 22px;
}
.search-bar{
    height: 30px;
    width: 300px;
    border-radius: 50px;
    font-size: 20px;
}
fieldset{
    align-items: center;
    position: relative;
    
    line-height: 150px;
}
h1{
    color: rgb(210, 218, 219);
}
input{
    color: white;
}
table{
    margin: 50px;
    line-height: 10px;
}
td{
    line-height: 10px;
}
form{
    line-height: 10px;
}
.login{
    border: 3px solid  ;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    font-size: 20px;
}
.submit :hover{
    color: orangered;
}