/*general*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-top: 0;
}

h1 {
    font-family: monospace;
    color: rgb(5, 59, 207);
    font-size: 3rem;
}

h3 {
    display: block;
    color: black;
}

li {
    color: rgb(218, 217, 228);
}

/*header*/
header.header-container {
    /*background-color: rgb(189, 215, 216);*/
    width: 100vw;
    height: 10vh;

}

header.header-container h1 {
    float: left;
    margin-top: 50px;
}


header.header-container .navbar-container {
    display: flex;
    float: right;

}

header.header-container .navbar-container ul.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 1px;
    margin-top: 2rem;
    margin-right: 2rem;
}

header.header-container .navbar-container ul.navbar-container li {
    list-style: none;
    background-color: rgb(248, 240, 240);
    font-weight: 700;
    /*color: rgb(161, 236, 12);*/

}

header.header-container .navbar-container ul.navbar-container li a.nav-link {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

header.header-container div.search-bar {
    margin-right: 20px;
    padding: 0px;
    font-size: 20px;
    border: 2px solid #111111;
    border-radius: 10px;
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
    float: inline-end;
    margin-top: 22px;
}


section div.div-container {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(135, 212, 222);
    width: 1300px;
    height: 50px;
}

section #categories {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 5rem;
    background-color: rgb(0, 184, 197);

}

#categories .teachers-container {
    display: block;
    width: 625px;
    height: 400px;
}

#categories .students-container {
    display: block;
    width: 625px;
    height: 400px;
    color: #000;
}

#categories .teachers-container .teacher {
    margin-bottom: 4rem;
    color: #111111;
    width: 500px;
    height: 250px;
    background-image: url('image/photo5.avif');
    border-top-width: 32px;
    border-top-style: solid;
    border-left-width: 11px;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 900px;
    border-bottom-width: 22px;
    border-bottom-style: solid;
    padding-left: 111px;
    padding-top: 2px;
    padding-bottom: 22px;
    padding-right: 2px;
    width: 500px;
    height: 250px;
    background-color: beige;


}


#categories .students-container .student {
    color: #111111;
    margin-bottom: 4rem;
    background-image: url('image/photo4.avif');
    border-top-width: 32px;
    border-top-style: solid;
    border-left-width: 11px;
    border-left-style: solid;
    border-right-style: solid;
    border-right-width: 900px;
    border-bottom-width: 22px;
    border-bottom-style: solid;
    padding-left: 111px;
    padding-top: 2px;
    padding-bottom: 22px;
    padding-right: 2px;
    width: 500px;
    height: 250px;
}
.teacher a p{
    color: rgb(0, 17, 252);
}
.student a p{
    color: rgb(22, 255, 1);
}
fieldset {
    display: flex;

}

.teachers-container .teacher li {
    color: rgb(0, 0, 0);
    font-style: italic;

}


.footer-container {
    height: 200px;
    background-color: rgb(185, 202, 27);
    color: rgb(0, 65, 245);
    text-align: center;
    font-weight: bold;
    display: flex;
}

.footer-container div {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer-container div li {
    color: rgb(3, 29, 29);
}