.style-body {
    color: rgb(0, 4, 243);
    background-color: #f1f1f1;
    background-color: rgba(235, 157, 0, 35);
    font-size: 5 rem;
    text-align: center;
    margin: auto;
    padding: auto;
    height: 100vh;
    width: auto;
    border: black;
    border-radius: auto;
    font-weight: lighter;
    display: flex;
    flex-direction: column;

}

footer {

    width: 100%;
    display: flex;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 50px 0 10px;

}

/* services */
.contenu-footer .bloc-footer-services {
    color: rgb(245, 78, 0);
    background-color: rgb(7, 167, 145);
    flex: 0, 5rem;
    height: 380px;
    margin: 010px;
    font-size: 18px;

}

.contenu-footer .bloc-footer-contact {
    color: thistle;
    background-color: rgb(225, 65, 126);
    flex: 0, 5rem;
    height: 380px;
    padding: 010;
    margin: 10px;
}

.contenu-footer .bloc-footer-reseaux {
    padding: 010;
    margin: 010px;
    background-color: rgb(17, 196, 219);
    border: 100%;
    color: rgb(0, 63, 252)
}

/* contact */
.bloc-footer-contact h3,
.bloc-footer-reseaux h3,
.bloc-footer-services h3 {
    font-size: large;
    padding-bottom: 20px;
    text-align: center;
}

.bloc-footer-contact p {
    padding: 5Px 0;

}




.contenu-footer .bloc-footer-reseaux .liste-reseaux {
    list-style-type: none;
    position: relative;
    right: 20px;
    height: 285px;
    width: 90px;
    font-size: 18px;
    
   
}

.contenu-footer .bloc-footer-services.liste-sevives {
    padding: 2px 0;
    flex: auto;

}