/*general*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
    background-color: rgb(194, 177, 176)
    
}
/*header*/
.header-container{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 15px;
color: #f1f100;
background-color: rgba(200, 155, 33, 0,47);
height: 100vh;
width: 100vw;
overflow: hidden;
margin:0 50px;
position: fixed;
}


.header-container .navbar ul.navbar-container{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: 50px;
    width: 50px;
    margin-right:50px;
    
    
   
}
.header-container .navbar ul.navbar-container li{
    list-style: none;
    text-decoration: none;
    height: 50px;
    width: 50px;
    margin: 0 80px;
    padding: 0 0px 50px;
    text-align: center;
   
}
.header-container .navbar ul.navbar-container li a{
    text-transform: uppercase;
    text-decoration: none;
    
}
.header-container .navbar ul.navbar-container li .nav-item input{
    width: 100px;
    height: 30px;
    border-radius: 6rem;
}
.header-container .navbar-container li .nav-item input{
    float: right;
    margin-top: 0;
}
